:root {
  --black: #000;
  --seashell: seashell;
  --flex: flex;
  --inlineFlex: inline-flex;
  --center: center;
  --column: column;
  --center: center;
  --relative: relative;
  --hundred: 100%;
  --cover: cover;
}

body, header, footer, p, h1, h2, h3, a, span {
  font-family: Helvetica, sans-serif;
}

body, header, footer, .missionStatement, .contentBackgroundOne, .locationCardOne, .locationCardTwo, .locationCardThree {
  background-color: var(--black);
}

body, header, footer, p, h1, h2, h3, a, span, .logo, .missionStatement, .contentBackgroundOne {
  color: var(--seashell);
}

header, .heroImageOne, .heroImageTwo, .missionStatement, .cardContainerOne, .cardContainerTwo, .locationCardContainer {
  display: var(--flex);
}

.logo, .mainNav, .berryImg, .rumImg, .donutImg, .myrtleImg, .bedfordImg, .locationCardOne, .locationCardTwo, .locationCardThree {
  display: var(--inlineFlex);
}

.missionTitle, .contentTitle, .locationTitle, span, .footerTitle, .footerContent, .locationCardOne, .locationCardTwo, .locationCardThree {
  text-align: var(--center);
}

.missionStatement, .heroImageTwo, .locationCardOne, .locationCardTwo, .locationCardThree {
  flex-direction: var(--column);
}

.cardContainerOne, .cardContainerTwo, .heroImageTwo {
  justify-content: var(--center);
}

header, .heroImageOne, .heroImageTwo, .locationCardContainer {
  align-items: var(--center);
}

footer, .heroImageOne, .heroImageTwo, .contentBackgroundOne{
  position: var(--relative);
}

.heroImageOne, .heroImageTwo {
  /*
  background-repeat: no-repeat;
  background-position: var(--center);
  background-size: var(--cover);
  */
   width: var(--hundred);
   height: (--hundred);
   object-fit: var(--cover);
   overflow: hidden;
}

body {
  font-size: 22px;
  opacity: 0.9;
}

 header {
   position: fixed;
   top: -.1em;
   left: -.2em;
   justify-content: flex-start;
   border-bottom: 1px solid var(--seashell);
   width: var(--hundred);
   height: 69px;
   padding: .5em;
   z-index: 999;
 }

 footer {
   top: 6em;
 }

 span {
   display: block;
   margin: 10px;
 }

 .inlineBlock {
   display: inline-block;
 }

 .block {
   display: block;
 }

 .logo {
   height: 50px;
   margin-left: 10px;
 }

 .mainNav {
   margin-left: auto;
 }

 .mainNavLink {
   margin: 1em;
   font-size: 1.5em;
 }

.heroImageOne {
  position: var(--relative);
  top: 6em;
  height: 700px;
  max-width: var(--hundred);
  background: url("../img/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: var(--center);
  background-size: var(--cover);
}

.missionStatement {
  width: var(--hundred);
}

.contentBackgroundOne {
  top: 6em;
}

.berryImg, .rumImg, .donutImg, .myrtleImg, .bedfordImg {
  width: 300px;
  height: 200px;
  margin: 0 .75em;
}

.heroImageTwo {
  top: 6em;
  height: 40em;
  max-width: 100%;
  background: url("../img/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: var(--center);
  background-size: cover;
}

.locationCardContainer {
  justify-content: space-around;
  margin: 15px;
  padding: 1em;
}

.locationCardOne, .locationCardTwo, .locationCardThree {
  margin: 0 40px;
  padding: 1em;
  width: 300px;
  opacity: 1;
}

footer {
  padding: 0 20px;
}
