body, header, footer, p, h1, h2, h3, a, span {
  color: seashell;
  font-family: Helvetica, sans-serif;
}

body, header, footer, .missionStatement, .contentBackgroundOne, .locationCardOne, .locationCardTwo, .locationCardThree {
  background-color: #000;
}

.logo, .missionStatement, .contentBackgroundOne {
  color: seashell;
}

header, .heroImageOne, .heroImageTwo, .missionStatement, .cardContainerOne, .cardContainerTwo, .locationCardContainer {
  display: flex;
}

.logo, .mainNav, .berryImg, .rumImg, .donutImg, .myrtleImg, .bedfordImg, .locationCardOne, .locationCardTwo, .locationCardThree {
  display: inline-flex;
}

.missionTitle, .contentTitle, .locationTitle, span, .footerTitle, .footerContent, .locationCardOne, .locationCardTwo, .locationCardThree {
  text-align: center;
}

.missionStatement, .heroImageTwo, .locationCardOne, .locationCardTwo, .locationCardThree {
  flex-direction: column;
}

.cardContainerOne, .cardContainerTwo, .heroImageTwo {
  justify-content: center;
}

header, .heroImageOne, .heroImageTwo, .locationCardContainer {
  align-items: center;
}

footer, .heroImageOne, .heroImageTwo, .contentBackgroundOne{
  position: relative;
}

.heroImageOne, .heroImageTwo {
  /*
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  */
   width:100%;
   height:100%;
   object-fit: cover;
   overflow: hidden;
}

body {
  font-size: 22px;
  opacity: 0.9;
}

 header {
   position: fixed;
   top: -.1em;
   left: -.2em;
   justify-content: flex-start;
   border-bottom: 1px solid seashell;
   width: 100%;
   height: 69px;
   padding: .5em;
   z-index: 999;
 }

 footer {
   top: 6em;
 }

 span {
   display: block;
   margin: 10px;
 }

 .inlineBlock {
   display: inline-block;
 }

 .block {
   display: block;
 }

 .logo {
   height: 50px;
   margin-left: 10px;
 }

 .mainNav {
   margin-left: auto;
 }

 .mainNavLink {
   margin: 1em;
   font-size: 1.5em;
 }

.heroImageOne {
  position: relative;
  top: 6em;
  height: 700px;
  max-width: 100%;
  background: url("../img/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.missionStatement {
  width: 100%;
}

.contentBackgroundOne {
  top: 6em;
}

.berryImg, .rumImg, .donutImg, .myrtleImg, .bedfordImg {
  width: 300px;
  height: 200px;
  margin: 0 .75em;
}

.heroImageTwo {
  top: 6em;
  height: 40em;
  max-width: 100%;
  background: url("../img/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.locationCardContainer {
  justify-content: space-around;
  margin: 15px;
  padding: 1em;
}

.locationCardOne, .locationCardTwo, .locationCardThree {
  margin: 0 40px;
  padding: 1em;
  width: 300px;
  opacity: 1;
}

footer {
  padding: 0 20px;
}
